$primary-color: white;
$bg: black;
$pink: #FFDAB5;
$turquoise1: #66A182;
$turquoise2:#CAFFB9;
$pastel:#AEF78E;
$green:#C0D461;





body{
  
  
  margin:0 auto;
  background-image: url('/img/doctorwho.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
  background-attachment: fixed;
  font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


h1{
  font-size:50px;
  
  text-align: center;
  letter-spacing: 0.08em;
  margin:0;
  color:$pink;
  animation-name: titre-h1;
  animation-duration: 0.5s;

  .title-pomodoro{
    color:$green; 
  }$primary-color: white;
  $bg: black;tle-react{
    display: block;
    font-size: 30px;
  }
  @keyframes titre-h1 {
    0%{
      transform: translateY(-204px);
    }
    95%{
      transform: translateY(5px);
    }
    100%{
      transform: translateY(0px);
    }
  }
}

.section-settings{
  display: flex;
  justify-content: space-around;
}

.section-break-time{
  @keyframes sectionbreak {
    0%{
      transform: translateX(-300px);
      opacity:0;
    }
    95%{
      transform: translatex(2px);
    }
    100%{
      transform: translatex(0px);
    }
  }
  animation-name: sectionbreak;
  animation-duration: 1s;
  h2{
    font-size: 30px;
    text-align: center;
    border: 1px solid;
    background-color: $turquoise2;
    opacity: 85%;
    color:black;
  }
  .break-time{
    display: flex;
    align-items: center;

    p{
      border: 1px solid;
      background-color: $turquoise2;
      opacity: 85%;
      width:20px;
      padding:0 10px;
      text-align: center;
      color:black;
      font-size: 25px;
      
    }
   
}
}
.section-pomodoro-time{
  @keyframes sectionpomodoro {
    0%{
      transform: translateX(300px);
      opacity: 0;
    }
    95%{
      transform: translatex(-2px);
    }
    100%{
      transform: translatex(0px);
    }
  }
animation-name: sectionpomodoro;
animation-duration: 1s;
transition: ease-in;



  h2{
    font-size: 30px;
    text-align: center;
    background-color: $turquoise2;
    opacity: 85%;
    color:black;
  }
  .pomodoro-time{
    display: flex;
    align-items: center;
  
    p{
      border: 1px solid;
      background-color: $turquoise2;
      opacity: 85%;
      width:26px;
      padding:0 10px;
      text-align: center;
      color:black;
      font-size: 25px;
      
    }
  }
}



button{
  width:50px;
  height: 50px;
  border-radius: 50%;
  border:1px solid #ABEE8E;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.411);
  background-color:#CAFFB9;

  svg{
    fill:#7166a1;
  }
  &:hover{
    background-color: $pastel;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;

  }
}


  button:disabled{
    cursor: not-allowed;
  }

  .section-timer{
    padding-top: 150px;
    @keyframes sectiontimer {
      0%{
        transform: translatey(-400px);
        opacity: 0;
      }
      95%{
        transform: translatey(2px);
      }
      100%{
        transform: translatey(0px);
      }
    }
animation-name: sectiontimer;
animation-duration: 1s;

    margin:0 auto;
    h3{
      padding-bottom: 10px;
      font-size: 40px;
      text-align: center;
      margin:0;
      
      color :yellow;
      
    }
   
   
.timer{
  background: radial-gradient(circle, rgba(202,255,185,1) 25%, rgba(102,161,130,1) 75%,);
  opacity: 90%;

  border:3px solid $pastel;
  width:250px;
  height: 250px;
  margin:0 auto;
  border-radius: 50%;
  font-size: 80px;
  text-align: center;
  font-family :'cursive';
  display: flex;
  justify-content: center;
  align-items: center;
.title-timer{
  display: block;
}
  .minutes{
    text-align: center;
    width:180px;
  }
  .separateur{
    text-align: center;
    width:10%;
  }
  .secondes{
    text-align: center;
    width:180px;
  }
}

.settings-timer{
  width:300px;
  margin:0 auto;
  text-align:center;

  .play-timer{
    svg{
      transform: translateX(2px);
    }
   
  }
}

  }
}